body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fce89d;
}

.gallery {
  max-width: 800px;
  margin: auto;
}

.main-image img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border: 2px solid #333;
}

.animals {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.animals img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s;
  
}

.animals img:hover {
  border: 20px solid #090904;
}